.Container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: white;
}

.WrapperContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.Wrapper {
  display: flex;
  gap: 25px;
}

.ImgContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img {
  height: 100px;
  width: 140px;
  border-radius: 15px;
  object-fit: cover;
}

/* .img:hover {
  transition: all ease 0.25s;
  scale: 1.1;
} */

.projectTitle {
  font-size: 24px;
  font-weight: 300;
  @media only screen and (max-width: 768px) {
    font-size: 18px;
  }
}
