.Container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  padding: 20px;
  color: white;
}

.WrapperContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.Wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 25px;
}

.img {
  object-fit: cover;
  border-radius: 15px;
}

.desc {
  text-align: justify;
  font-size: 14px;
  @media only screen and (max-width: 768px) {
    font-size: 10px;
  }
}

.projectTitle {
  font-size: 32px;
  font-weight: 300;
  @media only screen and (max-width: 768px) {
    font-size: 24px;
  }
}
