.Container {
  height: 100vh;
  background: url("/micro_carbon.png");
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  scrollbar-width: none;
  overflow-y: auto;
  margin: -8px;
}

.Container::-webkit-scrollbar {
  display: none;
}
